<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/users.css" />

<body>
  <svg
  id="harmonics"
  style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; pointer-events: none; z-index: -1; background-color: #145;"
  viewBox="0 0 100 20"
  xmlns="http://www.w3.org/2000/svg"
></svg>
  <div class="users-container">
    <% if(!member) { %>
    <div class="navigation-menu">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/admin/">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/signup">SignUp</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/login">Login</a>
        </li>
      </ul>
    </div>

    <div class="users-frame" style="color: #dddddd">
      <div class="board" style="font-size: 40px">Please login first!</div>
    </div>

    <% } else { %>
    <div class="navigation-menu">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/admin/">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/product/all">Menu</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/user/all">Users</a>
        </li>
        <li
          class="nav-item"
          style="cursor: pointer"
          onclick="return confirm('Do you really want to logout?')"
        >
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="users-frame" style="margin-top: 70px; border-radius: 10px;">
      <div class="board" style="border-radius: 10px;">
        <div class="user-table" style="border-radius: 10px;">
          <span class="header-name" style="margin-bottom: 30px"
            >All Users List</span
          >
          <table class="table table-hover table-sm" style="border-radius: 20px;" >
            <thead class="thead-light">
              <tr class="thead-light">
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <!--  LOOP PRODUCTS: START  -->
            <% users.map((user,key)=>{%>
            <tbody style="background: white; border-radius: 10px;">
              <td><%= key+1 %></td>
              <td><%= user.memberNick %></td>
              <td><%= user.memberPhone %></td>
              <td style="width: 13%">
                <select class="spec-select member-status" id="<%= user._id %>">
                  <option value="ACTIVE" <%= user.memberStatus==="ACTIVE" ? "selected" : "" %> >ACTIVE</option>
                  <option value="BLOCK" <%= user.memberStatus==="BLOCK" ? "selected" : "" %> >BLOCK</option>
                  <option value="DELETE" <%= user.memberStatus==="DELETE" ? "selected" : "" %> >DELETE</option>
                </select>
              </td>
            </tbody>
            <% }) %>

            <!--  LOOP PRODUCTS: END  -->
          </table>
        </div>
      </div>
    </div>
    <% } %>
  </div>

  <script type="text/javascript" src="/js/users.js"></script>
</body>

<%- include('includes/footer') %>
